<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>安徽</string>
	<key>2</key>
	<string>北京</string>
	<key>3</key>
	<string>重庆</string>
	<key>4</key>
	<string>福建</string>
	<key>5</key>
	<string>甘肃</string>
	<key>6</key>
	<string>广东</string>
	<key>7</key>
	<string>广西</string>
	<key>8</key>
	<string>贵州</string>
	<key>9</key>
	<string>海南</string>
	<key>10</key>
	<string>河北</string>
	<key>11</key>
	<string>河南</string>
	<key>12</key>
	<string>黑龙江</string>
	<key>13</key>
	<string>湖北</string>
	<key>14</key>
	<string>湖南</string>
	<key>15</key>
	<string>江苏</string>
	<key>16</key>
	<string>江西</string>
	<key>17</key>
	<string>吉林</string>
	<key>18</key>
	<string>辽宁</string>
	<key>19</key>
	<string>内蒙古</string>
	<key>20</key>
	<string>宁夏</string>
	<key>21</key>
	<string>青海</string>
	<key>22</key>
	<string>上海</string>
	<key>23</key>
	<string>山东</string>
	<key>24</key>
	<string>山西</string>
	<key>25</key>
	<string>陕西</string>
	<key>26</key>
	<string>四川</string>
	<key>27</key>
	<string>天津</string>
	<key>28</key>
	<string>新疆</string>
	<key>29</key>
	<string>西藏</string>
	<key>30</key>
	<string>云南</string>
	<key>31</key>
	<string>浙江</string>
	<key>32</key>
	<string>香港</string>
	<key>33</key>
	<string>澳门</string>
	<key>34</key>
	<string>台湾</string>
	<key>35</key>
	<string>其它</string>
</dict>
</plist>
